@model IEnumerable<ShareCare.Model.Models.EnchiridionModel>

@{
    ViewData["Title"] = "Historic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h4 {
        top: 99px;
        left: 415px;
        width: 290px;
        height: 35px;
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal bold 25px/38px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    h5 {
        top: 139px;
        left: 415px;
        width: 660px;
        height: 28px;
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal normal 20px/30px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    th {
        top: 221px;
        left: 525px;
        width: 43px;
        height: 20px;
        text-align: left;
        font: normal normal bold 14px/21px Poppins;
        letter-spacing: 0px;
        color: #3D3D3D;
        opacity: 1;
    }

    tr {
        top: 251px;
        left: 440px;
        width: 771px;
        height: 121px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
</style>

<div class="col-md-12">
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <h4 style="color: white; top: 99px;">Meu guia de pacientes</h4>
            <h5 style="color:white; top:139px;">Acesse todas as informações que você precisa de seus pacientes</h5>
        </div>
    </div>
    <div class="col">
        <div class="au-card">
            <h5 style="color: black; top: 99px;font: normal normal bold 16px/25px Poppins;">Histórico > Juliane Ribeiro</h5>
            <br />
            <div class="row row-cols-1">
                <div class="col">
                    <h6 style="color:black">Data Inicial</h6>
                </div>
                <div class="col">
                    <h6 style="color:black">Data Final</h6>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="        color: #F46A79;
        border-bottom-color: #F46A79;
        background-color: white;
">
                            Dia
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Mês
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Ano
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Dia
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Mês
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Ano
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row row-cols-1">
                <div class="col">
                    <h6 style="color:black">Especialização médica</h6>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#F46A79; border-bottom-color: #F46A79;background-color:white;">
                            Cardiologistas
                        </button>
                        <div class="dropdown-menu">
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="card">
                <div class="card-header">
                    <div class="row row-cols-3">
                        <div class="col" style="color:black;font: normal normal bold 16px/25px Poppins;">Anotações do médico</div>
                        <div class="col" style="font: normal normal bold 16px/25px Poppins;color: #B7B7B7;">Receitas</div>
                        <div class="col" style="font: normal normal bold 16px/25px Poppins;color: #B7B7B7;">Exames</div>
                        <div class="col" style="font: normal normal bold 16px/25px Poppins;color: #B7B7B7;">Atestados</div>
                        <div class="col" style="font: normal normal bold 16px/25px Poppins;color: #B7B7B7;">Sintomas</div>
                        <div class="col" style="font: normal normal bold 16px/25px Poppins;color: #B7B7B7;">Analytics</div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <h6 style=" color:#F46A79">
                                    @Html.DisplayFor(modelItem => item.Date) - Gabriela Saori - Cardiologista
                                </h6>
                                <br />
                                <div class="row form-group">
                                    <div class="col-12 col-md-12">
                                        @Html.DisplayFor(modelItem => item.Value)
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
