@model IEnumerable<ShareCare.Model.Models.DetailSolicitationModel>

@{
    ViewData["Title"] = "Home Page";
    var order = Model.OrderBy(x => x.DateStart);
}

<div class="col">
    <div class="au-card">
        <div id="calendar"></div>
    </div>
</div>

<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />
<script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/vendor/jquery-3.2.1.min.js"></script>
<script src="~/vendor/fullcalendar-3.10.0/lib/moment.min.js"></script>
<script src="~/vendor/fullcalendar-3.10.0/fullcalendar.js"></script>

<script>
    var events = [];
</script>

@foreach (var item in order)
{
    <script type="text/javascript">

    var event =
    {
        title: ' - Consulta: @item.SimpleName',
        start: '@item.DateStart.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'FFF'Z'")',
        allDay: false,
        url: '/Scheduler/DetailSolicitation?schedulerId=@item.Id'
    };
    events.push(event);
    </script>
}

<script type="text/javascript">
    $(function () {
        // setup a few events
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            events: events,
            monthNames: ['Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            buttonText: {
                prev: "<",
                next: ">",
                today: "Hoje",
                month: "Mês",
                week: "Semana",
                day: "Dia"
            }
        });
    });
</script>
